@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <section id="announcements">
            @await Html.PartialAsync("_AnnouncementsPartial")
        </section>

        <section id="leaderboard">
            @await Html.PartialAsync("_LeaderboardPartial")
        </section>
    </div>
    <div class="col-md-4">
        <section id="updates">
            @await Html.PartialAsync("_UpdateStreamPartial")
        </section>
    </div>
</div>
